//
// https://coliss.com/articles/build-websites/operation/css/css3-flexbox-properties-by-scotch.html
//
@mixin flexbox($align: row) {
  //
  // Defining using 'flexbox'
  //
  display: flex;
  //
  // Defining which directions to assemble each 'box'
  //
  flex-direction: $align;
  //
  // Defining how each 'box' are positioned 'vertically'
  //
  align-items: center;
  //
}
