//
// Importing various 'mixin'
//
@import '../mixin/color';
//
.reply-box {
  //
  position: absolute; // Positioning based on 'body'
  //
  bottom:   0;
  left:     300px;
  right:    0;
  //
  padding: 15px;
  //
  background: color('content-strong');
  //
  &__input {
    //
    display: block;
    //
    width:   100%;
    padding: 9px 14px; // Excluding 'border'
    //
    border:  border('normal');
    border-radius: 3px;
    //
    color: rgba( 0, 0, 0, 0.7 );
    //
    &:focus + .reply-box__tip {
      display: block;
    }
    //
  }
  //
  &__tip {
    //
    display: none;
    position: absolute;
    top: 24px;
    right: 27px;
    opacity: 0.8;
    color: rgba(0, 0, 0, 0.4);
    //
    &__button {
      //
      margin: 0 3px;
      padding: 2px 3px;
      //
      border:  border('normal');
      border-radius: 2px;
      //
      background: color('content');
      //
    }
    //
  }
  //
}
