//
// Importing various 'mixin'
//
@import 'components/mixin/picture';
@import 'components/mixin/color';
@import 'components/mixin/shortProf';
@import 'components/mixin/flexbox';
//
.login_user__item {
  //
  @include flexbox;
  //
  // Positioning based on 'body'
  //
  position: absolute;
  top:      30px;
  height:   60px;
  left:     0;
  right:    0;
  //
  background:    color('header');
  border-bottom: border('strong');
  //
  @include short_prof($name_color: #fff);
  //
  &__link {
    //
    float:  right;
    margin: 0 15px;
    //
    font-size:   15px;
    font-weight: 500;
    //
    a {
      color:           white;
      text-decoration: none;
    }
    //
  }
  //
}
//
.notice {
  //
  text-align:  center;
  margin:      0 auto;  // Default: 13px on top and bottom
  height:      30px;
  padding-top: 5px;
  //
  font-weight: bold;
  color:       white;
  //
  background:  color('header');
  //
}
