%p Hello #{@user.name} (#{@user.email})!
%p You can confirm your account through the link below:
-#
-# 'confirmation_token' should be sent explicitly
-# to 'users/confirmations#show', not '...#create'
-#
%p= link_to 'Confirm my account', confirmation_url(@user, confirmation_token: @token, email: @user.email)
