%p Hello #{@user.name} (#{@user.email})!
%p Someone has requested a link to change your password. You can do this through the link below.
-#
-# 'reset_password_token' and 'email' should be sent explicitly
-# to 'users/passwords#update' through 'users/passwords#edit'
-#
%p= link_to 'Change my password', edit_password_url(@user, reset_password_token: @token, email: @user.email)
-#
%p If you didn't request this, please ignore this email.
%p Your password won't change until you access the link above and create a new one.
