-#
-# POST method for '/users'
-# Information will be contained in params[:user]
-#
-# Designating ':url' and ':html' for a partial 'form_for'
-#
- provide(:url,  registration_path(resource_name))
- provide(:html, :post)
-#
-# Displaying a page title
-#
%h2 Sign up
-#
-# Rendering a partial 'form_for'
-#
= render "users/registrations/form"
-#
-# Rendering a series of 'links'
-#
= render "users/shared/links"
